
<div class="container">
  <div class="jumbotron">
    <h1>SUPER QnA</h1>
  </div>
  {{#each model as |question|}}
  <div class="question">
    {{question-tile answer="answer" question=question}}
  </div>
  {{/each}}
  {{new-question save2="save3"}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'info'}}Contact Info{{/link-to}}
</div>
